---
# Role: checkmkagent
#
# Usage (without RAID controller):
#
#   roles:
#     - checkmkagent
#
# Usage (with LSI RAID controller (megacli):
#
#   roles:
#     - { role: checkmkagent, num_disks: 4, megacli_battery_adapter: 1 }
#
# This role downloads the check_mk_agent (if checkmkagent_host_url is given)
# and deploys the check_mk_agent and generic custom checks to all systems which
# should be monitored by the check_mk monitoring server.
#
# If `checkmkagent_host_url` is not given,
# `check-mk-agent_{{  checkmkagent_version }}-1_all.deb` needs to be in
# `files/check-mk/` and checkmk agent plugins can not be deployed.
#
# A group [monitoring] or [monitoring-clients] should be defined in the hosts
# file and a plybook site-monitoring.yml could look like this:
#
# - name: Setup site wide monitoring configuration
#   hosts: monitoring-clients !megacli
#   become: yes
#   vars:
#     checkmkagent_version: '2.0.0p19'
#     checkmkagent_host_url: 'https://monitoring.example.com/mysite'
#     checkmkagent_ip_allow: 'monitoring.example.com'
#   roles:
#     - checkmkagent
#
# For hosts with LSI additional checks for disk and battery state are added.
# A group [megacli] should be defined in the hosts file and site-monitoring.yml should look like this:
#
# - name: Setup monitoring configuration for systems with megacli
#   hosts: megacli
#   become: yes
#     checkmkagent_version: '2.0.0p19'
#     checkmkagent_host_url: 'https://monitoring.example.com/mysite'
#   roles:
#     - { role: checkmkagent, checkmkagent_ip_allow: 192.168.100.230, num_disks: 4, megacli_battery_adapter: 1 }

# tasks file for ansible-role-checkmkagent

- include_tasks: checkmkagent-disable-xinetd.yml
  when: not checkmkagent_service_xinetd|default(false)

- name: Check whether check-mk-agent is installed
  command: "dpkg-query -l check-mk-agent"
  register: "checkmkagent_installed"
  changed_when: false
  check_mode: false
  ignore_errors: true

- name: Get check-mk-agent version
  # NOTE we we need to strip of trailing "-1" of the package version, as this is defined
  # in the Debian package but not with our installed_checkmkagent_version
  ansible.builtin.shell:
    cmd: "dpkg-query --showformat='${Version}\n' -W check-mk-agent | sed 's/-1//'"
  register: "checkmkagent_version_installed"
  when: "checkmkagent_installed is defined"
  changed_when: false
  check_mode: false

- name: Determine if this is an initial dry-run
  ansible.builtin.set_fact:
    initial_dry_run: "{{ ansible_check_mode and not checkmkagent_installed is defined }}"

- name: Put value of installed version into an Ansible fact"
  ansible.builtin.set_fact:
    installed_checkmkagent_version: "{{ checkmkagent_version_installed.stdout }}"
  when: "checkmkagent_installed is defined"

- name: Output version strings of installed and to be installed check-mk-agent
  ansible.builtin.debug:
    msg: "Installed version: '{{ installed_checkmkagent_version }}', version to be installed: '{{ checkmkagent_version }}'"
  when: "installed_checkmkagent_version is defined"

- name: Check if both version strings are equal
  register: "is_checkmkagent_version_equal"
  ansible.builtin.command:
    cmd: "dpkg --compare-versions {{ installed_checkmkagent_version}} eq {{ installed_checkmkagent_version }}"
  when: "checkmkagent_installed is defined"

- name: Continue with downloading + installing check-mk-agent if check-mk-agent is not already installed or versions are not equal
  apt:
    deb: "{{ checkmkagent_host_url }}/check_mk/agents/check-mk-agent_{{ checkmkagent_version }}-1_all.deb"
  when: (not checkmkagent_installed is defined or not is_checkmkagent_version_equal) and checkmkagent_host_url is defined

- name: Deploy local check-mk-agent package
  include_tasks: deploy-checkmkagent.yml
  when: checkmkagent_host_url is not defined

- include_tasks: checkmkagent-systemd.yml
  when: not checkmkagent_service_xinetd|default(false)

- include_tasks: checkmk-localchecks.yml
- include_tasks: checkmk-plugins.yml
- include_tasks: monitoring-megacli.yml
  when:
    - checkmkagent_megacli_num_disks is defined
    - checkmkagent_megacli_num_disk_groups is defined
- include_tasks: monitoring-storagebox.yml
  when:
    - checkmkagent_storagebox_number is defined
    - checkmkagent_storagebox_username is defined
    - checkmkagent_storagebox_password is defined
